*

!Dockerfile
!requirements.txt

!backend/
!backend/*.py
!backend/api/
!backend/api/**
!backend/preprocessing/
!backend/preprocessing/**
!backend/scripts/
!backend/scripts/**
!backend/researcher_crew/
!backend/researcher_crew/src/
!backend/researcher_crew/src/**
!backend/data/
!backend/data/.gitkeep
!backend/data/Form*.docx

!frontend/
!frontend/web/
!frontend/web/**
